<nav class="navbar">
  <div class="nav-container">
    <div class="logo">
      <span class="logo-icon">👟</span>
      <span class="logo-text">Angular App</span>
    </div>
    <ul class="nav-menu">
      <li class="nav-item">
        <a [routerLink]="['/']" class="nav-link">
          <span class="link-icon">🏠</span>
          <span>Lista productos</span>
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/coches']" class="nav-link">
        <span class="link-icon">🚗</span>
          <span>Coches</span>
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/deportes']" class="nav-link">
        <span class="link-icon">🏀</span>
          <span>Deportes</span>
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/libreria']" class="nav-link">
        <span class="link-icon">📚</span>
          <span>Librería</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
